* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.head {
  height: 50px;
  width: 100%;
  background-color: #494949;
}
.head ul {
  display: block;
  width: 800px;
  margin: 0 auto;
}
.head ul li {
  float: left;
  list-style: none;
  width: 150px;
  text-align: center;
}
.head ul li a {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 50px;
  width: 120px;
  display: inline-block;
}
.head ul li a:hover {
  background-color: #9B9B9B;
}
.head ul li .sure {
  background-color: #9B9B9B;
}

.imgBox {
  display: none;
  text-align: center;
  margin-top: 3px;
  color: black;
  position: relative;
}
.imgBox img {
  width: 100%;
}
.imgBox .btn {
  position: absolute;
  top: 50%;
  font-size: 50px;
  color: #FFFFFF;
  display: inline-block;
  width: 60px;
  line-height: 120px;
  height: 120px;
  background-color: #5A5757;
  opacity: 0.5;
}
.imgBox .btn-left {
  left: 0;
  margin-left: 20px;
}
.imgBox .btn-right {
  right: 0;
  margin-right: 20px;
}

.progress {
  width: 100%;
  height: 500px;
  text-align: center;
  font-size: 30px;
  line-height: 500px;
}
